:root {
  --voucher-gradient-bg: linear-gradient(
    117deg,
    rgba(226, 239, 255, 0.36) 0.74%,
    rgba(226, 239, 255, 0.12) 111.76%
  );
  --voucher-blur-bg: blur(8px);
  --voucher-border: 1px solid rgba(255, 255, 255, 0.4);
}

#carousel-voucher-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: clamp(4px, 2vw, 10px);
  padding: clamp(10px, 2vw, 15px) 0;
  position: relative;
  margin: 0 auto;
  width: 100vw;
}

#carousel-voucher-banner p {
  margin: 0;
}

.payday-banner-bg {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  background-image: url("https://ab-benzz.github.io/voucher-widget/payday-banner-bg.png");
  background-repeat: repeat;
  background-size: auto;
  z-index: -1;
}

.timer-container {
  gap: clamp(6px, 3vw, 16px);
}

.ab-img {
  width: fit-content;
  flex: 0;
}

.ab-img > h2 {
  color: #ffffff;
  font-weight: 600;
  line-height: 114%;
  margin: 0;
  font-size: clamp(16px, 3.5vw, 28px);
}

.ab-img > h2 > span {
  color: #fe55da;
  white-space: nowrap;
}

.ab-img,
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 16px;
}

.ab-img > img {
  height: 100%;
  object-fit: contain;
  width: clamp(110px, 32vw, 200px);
  max-width: unset;
}
.timer-container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2px;
}

.timer-container > div p {
  font-size: clamp(12px, 3.5vw, 18px);
  margin-bottom: -4px;
  color: #185baa;
}

/* Timer text: days/hours/minutes/seconds */
.timer-container > div > p:last-of-type {
  font-size: clamp(10px, 2vw, 14px);
  margin: 2px 0 -4px;
  color: white;
  font-weight: 350;
}

.timer-divider {
  height: clamp(25px, 5vw, 35px);
  border: 0.3px solid rgba(255, 255, 255, 0.54);
  transform: scaleX(1);
}

#timer-days,
#timer-hrs,
#timer-mins,
#timer-secs {
  border-radius: 8px;
  background: #daf8ff;
}

.timer-container > div > p:first-of-type {
  padding: 4px 0;
  width: clamp(28px, 7vw, 40px);
  margin: 0 auto;
  font-weight: 600;
  aspect-ratio: 1/1;
  place-content: center;
}

.voucher-timer-div {
  display: flex;
  gap: clamp(8px, 3vw, 16px);
  padding: 0 clamp(8px, 2vw, 16px);
  flex-direction: row;
  flex: 0 0 auto;
  border-radius: 16px;
  border: var(--voucher-border);
  background: var(--voucher-gradient-bg);
  padding: clamp(6px, 2vw, 16px) 0;
  box-shadow: 0px 0px 16px 0px rgba(24, 91, 170, 0.24);
  backdrop-filter: var(--voucher-blur-bg);
  margin: 0 8px;
  justify-content: center;
}

#scroll-next {
  right: 0;
}
#scroll-prev {
  left: 0;
}

@media screen and (width > 768px) {
  #carousel-voucher-banner {
    flex-direction: row;
    padding: clamp(10px, 2vw, 15px) 0 clamp(10px, 2vw, 15px) 16px;
  }
  .voucher-timer-div {
    flex-direction: column;
    gap: 6px;
    height: 100%;
    padding: 16px;
    place-content: center;
  }

  .test-cont {
    place-content: center;
  }

  .voucher-timer-div {
    background: unset;
    backdrop-filter: unset;
    border: unset;
    padding: unset;
  }

  .ab-img {
    width: 100%;
  }
}

@media screen and (width >1200px) {
  #scroll-next {
    right: -1.5% !important;
  }
  #scroll-prev {
    left: -1.5% !important;
  }

  .test-cont {
    overflow: visible !important;
  }
}

@media screen and (width > 1400px) {
  #carousel-voucher-banner {
    padding: clamp(10px, 2vw, 15px) 0;
    height: 140px;
  }

  .voucher-timer-div {
    align-items: center;
    flex-direction: row;
    background: unset;
    border: unset;
    backdrop-filter: unset;
    padding: unset;
    gap: 16px;
  }

  .timer-container {
    background: var(--voucher-gradient-bg);
    height: 100%;
    backdrop-filter: var(--voucher-blur-bg);
    padding: 0 20px;
    border: var(--voucher-border);
    border-radius: 12px;
  }

  .ab-img > h2 {
    text-align: center;
  }

  #voucher-container,
  .voucher-item {
    height: 100% !important;
  }

  .test-cont {
    overflow: visible !important;
  }
}
