* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  align-items: center;
  font-family: "Poppins", serif;
  color: #4c525c;
  display: flex;
  justify-content: center;
}

#payday-sale-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1300px;
  overflow: hidden;
  border-radius: clamp(8.706px, 2vw, 20px);
  gap: clamp(4px, 2vw, 8px);
  padding: clamp(10px, 2vw, 15px) 0 6px;
  position: relative;
}

.payday-banner-bg {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  background-image: url("payday-banner-bg.jpg");
  background-repeat: repeat;
  background-size: cover;
  z-index: -1;
}

/* Image and timer container */
#payday-sale-banner > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(0px, 1vw, 18px);
}

/* Left column of flex */
#payday-sale-banner > div > div {
  display: grid;
  gap: clamp(2px, 1vw, 8px);
}

#payday-sale-banner img {
  width: clamp(145px, 28vw, 220px);
  height: auto;
}

.payment-timer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: clamp(8px, 2vw, 16px);
  border-radius: 20px;
  gap: clamp(3px, 3vw, 18px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    117deg,
    rgba(226, 239, 255, 0.36) 0.74%,
    rgba(226, 239, 255, 0.12) 111.76%
  );
}

.payment-timer-container div {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2px;
}

.payment-timer-container > div p {
  font-size: clamp(10px, 2vw, 18px);
  margin-bottom: -4px;
  color: #185baa;
}

/* Timer text: days/hours/minutes/seconds */
.payment-timer-container > div > p:last-of-type {
  font-size: clamp(10px, 2vw, 16px);
  margin: 2px 0 -4px;
  color: var(--Primary-CTA-Font, #fff);
  font-weight: 500;
}

#timer-days,
#timer-hrs,
#timer-mins,
#timer-secs {
  border-radius: 12px;
  background: #daf8ff;
}

.payment-timer-container > div > p:first-of-type {
  padding: 4px 0;
  width: clamp(30px, 5vw, 40px);
  margin: 0 auto;
}

.payday-cta {
  border-radius: 97.061px;
  border: 0.485px solid rgba(255, 255, 255, 0.4);
  background: linear-gradient(
    117deg,
    rgba(226, 239, 255, 0.36) 0.74%,
    rgba(226, 239, 255, 0.12) 111.76%
  );
  box-shadow: 0px 0px 7.765px 0px rgba(24, 91, 170, 0.24);
  backdrop-filter: blur(3.882457971572876px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.payday-cta > p {
  font-weight: 400;
  color: #ffffff;
  padding: 0 clamp(10px, 3vw, 20px);
  font-size: clamp(11px, 2vw, 14px);
  margin: 0 auto;
}

.payday-cta > a {
  border-radius: 97.061px;
  background: #fff117;
  padding: clamp(6px, 3vw, 10.824px) clamp(11.647px, 3vw, 20.824px);
  border: none;
  font-size: clamp(11px, 2vw, 14px);
  color: var(--PrimaryColor-Blue70, #185baa);
  font-weight: 600;
  min-width: 90px;
  text-align: center;
  text-decoration: none;
}

.payday-disclaimer {
  font-size: clamp(5px, 1vw, 8px);
  color: #ffffff;
  font-weight: 300;
}

@media screen and (width<330px) {
  #payday-sale-banner > div {
    flex-direction: column;
  }

  .payday-disclaimer {
    text-align: center;
    padding: 0 10px;
  }

  #payday-sale-banner > div > div {
    margin-top: -10px;
  }
}

@media screen and (width > 600px) {
  #payday-sale-banner > div {
    gap: 20px;
  }
}
