#voucher-container {
  display: flex;
  gap: clamp(8px, 2vw, 10px);
  overflow: scroll;
  width: 100%;
  /* scroll-snap-type: x mandatory; */
  scroll-behavior: smooth;
}

#voucher-container::-webkit-scrollbar {
  display: none;
}

.voucher-fade-right {
  position: absolute;
  right: 0;
  width: 30px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    #bbc1d3 100%
  );
  pointer-events: none;
  z-index: 2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  transition: opacity 0.3s;
  opacity: 0;
}

.voucher-fade-right.visible {
  opacity: 1;
}

.voucher-item {
  width: 140.5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 8px 16px;
  border-radius: 16px;
  border: none;
  gap: 8px;
  cursor: pointer;
  position: relative;
  /* scroll-snap-align: start; */
}

.test-cont {
  position: relative;
}
.voucher-button {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  cursor: pointer;
  background-color: rgba(230, 230, 230, 0.623);
  border-radius: 100%;
  height: fit-content;
  width: fit-content;
  display: none;
}
.voucher-button:hover {
  background-color: rgba(255, 255, 255, 0.708);
}
#scroll-next {
  right: -18px;
}
#scroll-prev {
  left: -12px;
}

.voucher-button.disabled {
  background-color: transparent;
  cursor: not-allowed;
  opacity: 0;
  transition: opacity 0.5 ease-in-out;
}

.voucher-top {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  border-radius: 12px;
  height: 111.5px;
  width: 100%;
  position: relative;
  overflow: hidden;

  display: grid;
  justify-items: center;
  align-items: start;
  grid-template-rows: 30% 70%;
}

.voucher-value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  position: relative;
  width: 82%;
  overflow-y: visible;
  z-index: 1;
}

.voucher-value > p:first-of-type {
  font-size: 31px;
  line-height: 114%;
}

.voucher-value > p:last-of-type {
  font-size: 14.5px;
  line-height: 114%;
}

.voucher-value-bg::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2295%22%20height%3D%2248%22%20viewBox%3D%220%200%2095%2048%22%20fill%3D%22none%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M6.32757%200.759277C2.99637%200.759277%200.295898%202.80688%200.295898%205.33273V20.5223C3.3932%2020.5223%205.90406%2022.4261%205.90406%2024.7746C5.90406%2027.1231%203.3932%2029.0269%200.295898%2029.0269V42.835C0.295898%2045.3609%202.99637%2047.4085%206.32757%2047.4085H88.0542C91.3854%2047.4085%2094.0859%2045.3609%2094.0859%2042.8351V29.0269C91.0006%2029.0162%2088.5038%2027.1165%2088.5038%2024.7746C88.5038%2022.4327%2091.0006%2020.533%2094.0859%2020.5223V5.33273C94.0859%202.80688%2091.3854%200.759277%2088.0542%200.759277H6.32757Z%22%20fill%3D%22white%22%20fill-opacity%3D%220.2%22/%3E%3C/svg%3E");
}

.voucher-tc {
  color: var(--Secondary-Blue, #019bf0);
  text-align: center;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 13px 0px 0 0px;
  background-color: rgba(255, 255, 255, 0.9);
  width: 40px;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*  */

.voucher-btm {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.voucher-date {
  color: var(--PrimaryTextColor-PrimaryGray40, #bcc2cd);
  font-weight: 400;
  line-height: 115%;
  font-size: 12px;
  text-wrap: nowrap;
}

.voucher-btm > strong {
  color: var(--SecondaryColor-Blue60, #019bf0);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  margin: 2px 0;
}

.voucher-btm > p:not(.voucher-date) {
  color: var(--PrimaryTextColor-PrimaryGray60, #8d94a0);
  font-weight: 400;
  font-size: 11px;
  line-height: 95%;
  text-wrap: nowrap;
  font-family: Poppins;
}

/* Modal */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal.hidden {
  display: none;
}
.modal-container {
  position: absolute;
}
.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 90%;
  max-width: 400px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

/*  */
.modal-content {
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translateY(0);
  opacity: 1;
}

.modal-content.slide-in {
  animation: slideIn 0.3s ease-out;
}

.modal-content.resetting {
  transition: transform 0.2s ease, opacity 0.2s ease;
  transform: translateY(0) scale(1);
  opacity: 1;
}
.modal.fading-out {
  animation: fadeOut 0.8s ease-out;
}

@media (max-width: 869px) {
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 9999;
  }

  .modal-content {
    background: white;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    border-radius: 12px 12px 0 0;
  }

  .modal-content.closing {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* Desktop-specific styles */
@media (min-width: 869px) {
  .modal {
    animation: fadeIn 0.3s ease-out; /* Fade in effect */
  }

  .modal-content {
    transition: opacity 0.3s ease-out; /* No slide effect on desktop */
  }

  .modal-content.closing {
    opacity: 0; /* Fade out */
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  .modal-content.slide-in {
    animation: fadeIn 0.3s ease-out; /* Fade in effect */
  }

  #voucher-container {
    padding: 16px;
    height: 236px;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(
      117deg,
      rgba(226, 239, 255, 0.36) 0.74%,
      rgba(226, 239, 255, 0.12) 111.76%
    );

    box-shadow: 0px 0px 16px 0px rgba(24, 91, 170, 0.24);
    backdrop-filter: blur(8px);
  }

  .voucher-button {
    display: flex;
  }

  .voucher-timer-div {
    height: 236px;
  }

  .voucher-timer-div > div {
    height: 100%;
    position: relative;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
